# Client-side API URL (currently used for authentication only)
# Development: http://127.0.0.1:8000/api/v1
# Production: /api/v1 (once reverse proxy is set up)
NEXT_PUBLIC_BACKEND_API=http://127.0.0.1:8000/api/v1

# Server-side API URL (for server-side data fetching)
# Development: http://127.0.0.1:8000/api/v1  
# Production: https://observer-prd.pmacs.upenn.edu/api/v1
INTERNAL_BACKEND_API=http://127.0.0.1:8000/api/v1