# Dependencies
node_modules
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build outputs
.next
out
build
dist

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode
.idea

# Test coverage
coverage

# Misc
*.log
.DS_Store
